*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  border: 3px solid #222;
  grid-template: 100px auto 100px / 3fr 7fr;
  gap: 1rem;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  height: 100vh;
}
.box {
  background-color: teal;
}

.box-1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  /* start / end  */
  /* row column */
  grid-area: header;
}
