* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
/* Globals */
:root {
  --primaryColor : #af9a7d;
  --mainWhite : #fff;
  --offWhite : #f7f7f7;
  --mainBlack : #222;
  --mainGray : #ececec;
  --darkGray : #cfcfcf;
  --mainTransition : all 0.3s linear;
  --mainSpacing : 3px;
  --lightShadow : 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow : 4px 10px 5xp 0px rgba(0, 0, 0, 0.5);
}

body {
  padding-top : 66px;
  color : var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1{
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.75rem;
}

.btn-primary{
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color : var(--mainBlack);
  background-color : var(--primaryColor);
  padding : 0.4rem 0.9rem;
  border : 3xp solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;

}

/* Navbar */
.navbar{
  position: fixed;
  top: 0;
  left : 0 ;
  width: 100%;
  padding : 0.75rem 2rem;
  background-color: var(--offWhite);
  z-index: 1;
}
.nav-header{
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}

.nav-links{
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding : 1rem 0;
  color : var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover{
  color : var(--primaryColor)
}
.show-nav{
  height : 100px
}
@media screen and (min-width : 768px){
  .nav-btn {
    display: none;
  }
  .nav-center{
    max-width: 1170px;
    margin : 0 auto;
    display: flex;
  }
  .nav-links{
    height: auto;
    display: flex;
    flex-direction: row;  
    margin-left: 4rem;
  }

  .nav-links a{
    margin : 0 1rem;
    padding: 0.5rem;
  }
}

/* Hero */
.defaultHero,
.roomsHero{
  min-height: calc(100vh - 66px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./images/defaultBcg.jpeg") center/cover no-repeat;
}
.roomsHero{
  background-image: url("./images/room-2.jpeg");
  min-height: 60vh;
}

/* Banner */
.banner {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  color : var(--mainWhite);
  padding : 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);

}
.banner h1 {
  font-size : 2.5rem;
}

.banner div {
  width: 10rem ;
  height: 5px;
  background-color: var(--primaryColor);
  margin : 1.7rem auto;
}

.banner p {
  font-size : 1.2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 576px){
  .banner {
    padding : 2rem 3rem;
  }
  .banner h1{
    font-size : 3rem;
  }
}