/* colors - see style guide for docs. 
Clearly there is more you could place in variables, up to you if you want to use them. My answer does not go beyond colors to keep the code easier to read. */

:root {
  --color1: #001219;
  --color2: #005f73;
  --color3: #3d9397;
  --color4: #94d28d;
  --color5: #e9d8a6;
  --color6: #ee9800;
  --color7: #ca6702;
  --color8: #bb3e03;
  --color9: #ae2012;
  --color10: #9b2226;
}

/* generic site styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dbe5de;
  padding: 0;
  margin: 0;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section h2 {
  font-size: 2.5rem;
}

/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */

figure {
  position: relative;
  max-height: 400px;
  overflow: hidden;
  margin: 0 0 0 0.5rem 0;
  padding: 0;
  border-width: 10px;
  border-style: solid;
  border-radius: 5px;
}

figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(355, 355, 355, 0.8);
  width: 100%;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

figcaption a {
  text-decoration: none;
  color: var(--color1);
  padding: 1rem;
  display: block;
}

figure img {
  width: 100%;
  margin-bottom: -4px;
  object-fit: cover;
  object-position: 0 -50px;
}

.color2,
.color2 a:hover {
  border-color: var(--color2);
  color: var(--color2);
}

.color3,
.color3 a:hover {
  border-color: var(--color3);
  color: var(--color3);
}

.color4,
.color4 a:hover {
  border-color: var(--color4);
  color: var(--color4);
}

.color6,
.color6 a:hover {
  border-color: var(--color6);
  color: var(--color6);
}

.color7,
.color7 a:hover {
  border-color: var(--color7);
  color: var(--color7);
}

.color8,
.color8 a:hover {
  border-color: var(--color8);
  color: var(--color8);
}

/* At this breakpoint, transition to 2 figures per line */

@media (min-width: 550px) {
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  figure img {
    object-position: 0;
  }

  section li {
    flex-basis: 50%;
  }
}

/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {
  section h2 {
    margin-left: 100px;
  }

  section li {
    flex-basis: 32.5%;
  }
}
