html {
  /* font-size: 62.5%; */
}

@font-face {
  font-family: "opensans";
  src: url("./fonts/opan-sans/opensans-regular-webfont.woff2") format("woff2"),
    url("./fonts/opan-sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: "opensans";
  src: url("./fonts/opan-sans/opensans-bold-webfont.woff2") format("woff2"),
    url("./fonts/opan-sans/opensans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "opensans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  padding : 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

label {
  display: block;
}

input {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  transition: all 0.3s linear;
}

button {
  background-color: tomato;
  color : #fff;
  border : 1px solid tomato;
  padding : 0.5rem 0.7rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  
}


input:focus {
  border-color: #7db0fb;
  box-shadow: 0 0 0 4px rgba(24,117, 255, 0.25);
  outline: none;
}

.form-group {
  margin-bottom: 1rem;
}

.nav-bar{

}

.navBar {

}
