html{
  /* font-size: 62.5%; */
}

@font-face {
  font-family: 'opensans';
  src: url('./fonts/opan-sans/opensans-regular-webfont.woff2') format('woff2'),
       url('./fonts/opan-sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;

}
@font-face {
  font-family: 'opensans';
  src: url('./fonts/opan-sans/opensans-bold-webfont.woff2') format('woff2'),
       url('./fonts/opan-sans/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}
body {
  font-family:  'opensans' ,Arial , Helvetica , sans-serif ;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;


}



*,
*::before,
*::after {
  
  box-sizing: border-box;
}

.meal{
  transition: all 0.3s linear;
  
}

.meal:hover{
  
  filter: grayscale(70%) blur(3px);
}


.bg-dishes
{
background:url('../images/css-sprite-combined.png') 0px -0px;
width:100px;height:100px;
display:inline-block;
}

.bg-landing
{
background:url('../images/css-sprite-combined.png') -100px -0px;
width:100px;height:100px;
display:inline-block;
}

.bg-rocketship
{
background:url('../images/css-sprite-combined.png') -200px -0px;
width:100px;height:100px;
display:inline-block;
}

.bg-saturn
{
background:url('../images/css-sprite-combined.png') -300px -0px;
width:100px;height:100px;
display:inline-block;
}

.bg-ufo
{
background:url('../images/css-sprite-combined.png') -400px -0px;
width:100px;height:100px;
display:inline-block;
}
