/* Based on "Composition II in Red, Blue, and Yellow," by Piet Mondrian (1930): https://en.wikipedia.org/wiki/Piet_Mondrian */
.wrapper {
  width: 600px;
  height: 600px;
  background: url(https://assets.codepen.io/296057/painting.png) no-repeat;
  display: grid;
  grid-template-rows: 170px 210px 61px;
  grid-template-columns: 124px 376px 42px;
  gap: 30px 20px;
}

div {
  border: 1px solid black;
  background-color: white;
  opacity: 0.5;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}
.a {
}
.b {
}
.c {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}
.d {
  grid-row: span 2;
}
.e {
  grid-row: span 2;
}
.f {
}
.g {
}
