@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400&display=swap");

:root {
  --primaryColor: #2892d7;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 1170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Catamaran", sans-serif;
  color: var(--mainBlack);
}
.btn {
  padding: 0.4rem 0.8rem;
  color: var(--mainWhite);
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  outline: none;
  transition: var(--mainTransition);
}
.btn:hover {
  color: var(--primaryColor);
  background-color: var(--mainWhite);
}

.song__list {
  max-width: 50vw;
  padding: 1rem;
}

.song {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 1rem;
}

.container {
  padding-top: 1rem;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.detail {
  max-width: 50vw;
  padding: 1rem;
}

.postlist {
  padding: 1rem;
}
.item {
  margin-bottom: 1rem;
  padding: 1rem;
}
.item__top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.item__top h4 {
  margin-left: 1rem;
}
.item__top .item__icon {
  font-size: 2rem;
}
.item__bottom {
}
