:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff2400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

/* Typography */

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width : 1024px){
    body {
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3{
        font-size: 2.4rem;
    }
}
