@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  background: url("./images/bg.webp") no-repeat center/cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.searchbar__input {
  border: none;
  outline: none;
  padding: 2rem 7vw;
  text-align: center;
  border-radius: 30px;
  font-size: 1.7rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.searchbar__input::placeholder {
  font-size: 1.7rem;
  color: #333;
}

@media screen and (min-width: 768px) {
  .searchbar__input {
    padding: 2rem 9rem;
  }
}
