@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  background: url("./images/bg.webp") no-repeat center/cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90vw;
  max-width: 400px;
}

/* Searchbar */

.searchbar__input {
  display: inline-block;
  border: none;
  outline: none;
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 20px;
  font-size: 1.7rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.searchbar__input::placeholder {
  font-size: 1.7rem;
  color: #333;
}

@media screen and (min-width: 768px) {
  .searchbar__input {
    padding: 2rem 9rem;
  }
}

/* Result Card */
.result {
  margin-top: 4rem;
  padding: 4rem 10rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  box-shadow: 2px 5px 20px 10px rgba(0, 0, 0, 0.3);
}

.result__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.result__city {
  font-size: 2.5rem;
}

.result__centi {
  font-size: 3rem;
}

.result__country {
  margin-left: 1rem;
  position: relative;
  bottom: 10px;
  background-color: orange;
  color: #fff;
  border-radius: 5px;
  padding: 0.1rem 0.7rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.result__temperature {
  margin-bottom: 1rem;
  font-size: 4.5rem;
}

.result__icon {
  margin-bottom: 1rem;
}

.result__status {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.loading {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5rem;
  text-align: center;
  border-radius: 10px;
}

.loading__title {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: normal;
}
