* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #487eb0;
  --mainGrey : 	#F9F9F9;
  --mainWhite : #ffffff;
  --mainTransition : all 0.3 linear;
}
body {
  background-color : var(--mainGrey);
}

.center {
  padding: 2rem;
  width: 100vw;
  margin: 0 auto;
}

form {
  margin-bottom: 2rem;
  border : 1px solid #ccc ;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 5px;
  background-color: var(--mainWhite);
}

form input {
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  padding: 0.5rem;
  outline: none;
}

form input:focus {
  border: none;
  outline: 3px solid var(--primaryColor);
}

form label {
  display: block;
  margin-bottom: 0.8rem;
}
