.center {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
}

.icon {
  width: 90vw;
  display: flex;
}
.icon svg {
  font-size: 10rem;
}
.icon--top {
  justify-content: flex-start;
}
.icon--bottom {
  justify-content: flex-end;
  /* border : 1px solid green  */
}

.sun {
  color: #F7CA18;
}
.snow {
  color: darkturquoise;
}
