* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #487eb0;
  --mainGrey: #f9f9f9;
  --mainWhite: #ffffff;
  --mainTransition: all 0.3 linear;
}
body {
  background-color: var(--mainGrey);
}

.center {
  padding: 2rem;
  width: 100vw;
  margin: 0 auto;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 2rem;
  gap: 1rem;
  grid-auto-rows: 200px;
}

.list img {
  display: block;
  width: 100%;
  border : 1px solid #ccc ;
}
