doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Natours
        link(rel="stylesheet", href="path.css", attr)

    body
        h1 The park camper
        p This is just some text