<div style="width: 50%">
    <div class="plan plan--popular">
      <div class="card card--secondary">
        <header class="card__header">
          
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/months</span>
          <span class="badge badge--secondary badge--small">10% off</span>
          <span class="plan__desc">East start on the colud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
  </div>