<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
      eveniet nesciunt alias delectus laboriosam corporis inventore, incidunt
      odio ut eaque repellendus perferendis labore minima non mollitia
      provident architecto maxime esse.
    </p>

    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">John Smith</h3>
          <p class="quote__organization">ABC Company</p>
        </div>
      </div>
    </footer>
  </blockquote>