/* using border-box model -- see https://frontendmasters.github.io/bootcamp/layout#box-model-types for explanation */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* turn off margin/padding, set font and size for the page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
/* turn off bullets, push the box down the page, set a border plus width and height for demonstration purposes. */
ul {
  padding: 0;
  margin: 5rem auto;
  list-style-type: none;
  border: 10px dotted #9b2226;
  width: 900px;
  height: 500px;
}
/* set a border and background color to see each LI. Min-width and min-height are not necessarily a good idea in flexbox, but they are needed for the demo to better see the properties work. */
li {
  border: 2px solid #001219;
  background-color: #ee9800;
  min-width: 100px;
  height: 100px;
}
