<section class="block container">
    <header class="block__header">
      <h2 class="block__header">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem enim
        iusto mollitia deleniti laudantium consequatur odio repudiandae nostrum
        ullam magnam.
      </p>
    </header>
  </section>
  <section class="block block--dark block--skewed--left">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem enim
        iusto mollitia deleniti laudantium consequatur odio repudiandae nostrum
        ullam magnam.
      </p>
    </div>
  </section>