<section class="block block--dark block--skewed--left hero">
    <div class="grid grid--1x2 container">
      <header class="hero__content block__header">
        <h1 class="block__heading">Cloud Hosting For Pros</h1>
        <p class="hero__tagline">
          Deploy your website in less than 60 seconds.
        </p>
        <a href="" class="btn btn--accent btn--stretched">Get Started</a>
      </header>

      <img class="hero__image" src="/images/banner.png" alt="" />
    </div>
  </section>