<div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use href="images/sprite.svg#snap"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy start & managed updates</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
        sint delectus nostrum facilis expedita voluptatibus sit, quaerat
        repellat quasi esse aperiam quis et laboriosam. Optio ratione sunt sed
        vel velit.
      </p>
    </div>
  </div>